[flake8]
exclude = __pycache__,.venv
ignore =
    # line break before binary operator
    W503,
    # line break after binary operator
    W504,
    # fixture does not return anything, add leading underscore
    PT004
per-file-ignores =
    src/orbcode/pyorb/__init__.py:E221, E241, N801
max-line-length = 140
import-order-style = google
unused-arguments-ignore-abstract-functions = True
unused-arguments-ignore-lambdas = True
unused-arguments-ignore-stub-functions = True
unused-arguments-ignore-variadic-names = True
kplabs-allow-pass-after-docstring = True